// introducción

.cajon.color-secundario
  background-color: #E6E3FE

.lista-ol--cuadro__vineta 
    background-color: #0F2771;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    color: #fff;
    position: relative;
    margin-right: 8px;

.cajon.color-secundario:before 
  background-color: #ABA1F0

.pos1
  margin-right: -60px
  @media screen and (max-width: 999px)        
    margin-right: 0px

.bg_grad-01
  position: relative
  .tarjeta, .row, .titulo-segundo, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 0px
    left: 40px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat

//Tema 1

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #ffffff

.bg_grad-02
  background: linear-gradient(to bottom, #E5F4FC, #FFFFFF);
  padding: 12px 0px

.slyder__btn 
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #FBEA04
    margin-left: 15px;

.center
  margin: 0 auto

.bg_color7
  background-color: #EFEFFE

.linea-tiempo-d__item__content__title
  background: linear-gradient(0deg, #EDEAFE 0%, #F6F9FE 100%) 

.tarjeta--gris, .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #EDEAFE

.tarjeta--azul 
  background-color: #DCF1FF

.tarjeta--azul1
  background-color: rgba(220,241,255,0.4)
  height: 233px
  width: 945px
  box-shadow: 6px -3px 15px #0000001b
  @media screen and (max-width: 1400px)        
    height: auto
    width: auto

.bg_fondo_1
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute       
    margin: 0 0rem
    top: 2rem
    left: 10%
    width: calc(100% + 6rem)
    height: 189px
    background: linear-gradient(70deg, #FFFFFF, #EBE8FF )
    background-repeat: no-repeat

.bg_color1
  background-color: #FFFFFF
  height: 250px
  border-radius: 20px

.bg_fondo_2
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute       
    margin: 0 0rem
    top: 1rem
    left: 10%    
    width: calc(100% + 6rem)
    height: 96%
    background: linear-gradient(0deg, #E4FDFC 0%, #E9DCFD 80%)
    background-repeat: no-repeat
    @media screen and (max-width: 1200px)
      content: ''
      position: absolute       
      margin: 0 0rem
      top: 0rem
      left: -10%    
      width: calc(100% + 6rem)
      height: 100%
      background: linear-gradient(0deg, #E4FDFC 0%, #E9DCFD 80%)
      background-repeat: no-repeat
  
.bg-suave
  background-color: #26A0DF
  margin-top: -40px
  position: relative
  border-radius: 15px
    
.img-infografica.color-acento-botones .img-infografica__item__numero
  color: #000000

.colorfond
  background: linear-gradient(0deg, #D5D3E6 0%, #EDECF8 80%)
  width: 370px
  padding: 25px
  @media screen and (max-width: 1400px)
    width: 370px
    padding: 25px
  @media screen and (max-width: 1200px)
    width: 345px
    padding: 25px
  @media screen and (max-width: 900px)
    width: 300px
    padding: 25px
  @media screen and (max-width: 500px)
    width: 220px
    padding: 12px
//Tema 2

.bg-amarillo-claro
  background-color: #ECE9FD
  
.bg_color2
  background-color: #E9F5FC
  box-shadow: -3px 3px 15px #0000001b

.tarjeta-avatar .tarjeta
  display: inline-block;
  padding-top: 35px !important;
  border-radius: 0px 30px 0px 30px
  height: 320px 
  width: 326px
  @media screen and (max-width: 1400px)        
    height: auto
    width: auto

.tarjeta-avatar > img 
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 122px
  margin: 0 auto

.cajon-b.color-primario:before 
  background-color: #92CFEF

.cajon-b:before 
  content: '';
  display: block;
  position: absolute;
  opacity: .35;
  top: 72%
  left: 65%
  right: 0%
  bottom: 5%

.bg_grad-04
  position: relative
  .row,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 145px
    left: 0%
    width: calc( 100% + 6rem)
    height: 374px
    background-image: url("../assets/curso/tema2/fondo.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 1400px)        
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 10px
      left: 0%
      width: calc( 100% + 6rem)
      height: 374px
      background-image: url("../assets/curso/tema2/fondo.svg")
      background-repeat: no-repeat

.bg_color3
  background-color: #CDEDFC

.tarjeta-avatar .tarjeta1 
  display: inline-block;
  padding-top: 35px !important;
  border-radius: 20px
  height: 330px 
  width: 326px
  @media screen and (max-width: 1400px)        
    height: auto
    width: auto

.bg_fondo_3
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute       
    margin: 0 0rem
    top: 4rem
    left: 15%
    width: calc(100% + 6rem)
    height: 300px
    background: linear-gradient(70deg, #D6D0FC 0%, #D6D0FC 80%)
    background-repeat: no-repeat
    @media screen and (max-width: 1400px)        
      content: ''
      position: absolute       
      margin: 0 0rem
      top: 0rem
      left: 0%
      width: calc(100% + 0rem)
      height: 450px
      background: linear-gradient(70deg, #D6D0FC 0%, #D6D0FC 80%)
      background-repeat: no-repeat
    @media screen and (max-width: 760px)        
      content: ''
      position: absolute       
      margin: 0 0rem
      top: 6rem
      left: 0%
      width: calc(100% + 0rem)
      height: 880px
      background: linear-gradient(70deg, #D6D0FC 0%, #D6D0FC 80%)
      background-repeat: no-repeat

.arri1
  margin-top: 22px
  @media screen and (max-width: 1400px)        
    margin-top: 0px

.bg_grad-05
  position: relative
  ul.lista-ul, figure, .row, .tarjeta, p, li, img, slyderf,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -20px
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo2.svg")
    background-repeat: no-repeat

.tarjeta-avatar .tarjeta2 
  display: inline-block;
  padding-top: 0px !important;
  border-radius: 20px
  height: 230px
  width: 250px
  @media screen and (max-width: 1400px)        
    height: auto
    width: auto

.tarjeta-avatar > img 
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    margin: 0 auto;

